

$progress-height: 0.4rem;
$dark:#454360;
$placeholder-opacity-max: 0.1;
$placeholder-opacity-min: 0.1;

$font-family-sans-serif : 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.nav-hov:hover{
    color: #FFD15C!important;
}

.btn:hover{
    background-color: #fa1d37!important;
    color: white;
    // animation: bth 1s linear 1 alternate;
}


// @keyframes bth{
    
    
//     0% {
//         width: calc(width + 10%);
//     }
    
//     50% {
//         width: 80%;
//     }
    
//     100% {
//         width: 100%;
//     }

// }


.btnn{
    background-color: #FF4C60;
    font-weight: 700!important;
    color: white;
}

.click-here:hover{
    color:#454360!important;
}

.click-here-big:hover {
    color: #FF4C60 !important;
}

.be{
    // border-left: 1px solid #FF4C60!important;
    position: relative;
    padding-left: 40px;
}

.be::before{
    content: '';
    width: 0;
    height: 193.06px;
    border-left: 1px solid #FF4C60;
    display: block;
    position: absolute;
    left: 0;

}

.be-icon{
    left: -5%;
}

.be-last::before{
    height: 140.36px;
}

.dollar{
    left: 32%!important;
    top: 40%!important;
    font-size: 1rem;
}

.dollar-more{
    left:28%!important;
}

.premiun{
    transform: rotate(-90deg);
    background-color: #6C6CE5;
    color: white;
    padding:0 11px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 13%;
    left: -5%;
}

.review-txt{
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.review-btn:active{
    background-color: #FF4C60!important;
    padding: 4px 20px!important;
}

.review-span{
    background-color: #FF4C60;
    top: 0%;
    left: 5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-ho{
    transition: transform 0.5s linear;
}

.card-ho:hover {
    transform: translateY(-15px);
}

.map{
    background-image: url(/img/map-1.svg);
    padding-bottom: 105px;
    background-repeat: no-repeat;
}

.btt:hover{
    background-color: #FF4C60;
    opacity: 1!important;
}

.recent-nav:hover{
    color: #FF4C60!important;
}

// @media screen and (min-width:768px) {
//     .hire {
//             width: 8% !important;
//             margin-bottom: 50px !important;
//         }
// }

@media screen and (min-width:992px) {
    .first-part{
        padding-top: 200px!important;
    }
    .hire{
        width: 130px!important;
        margin-bottom: 50px!important;
    }
    .cv{
        width: 149.91px!important;
    }

    .load-more{
        width: 135.2px!important;
    }

    .be-icon{
        font-size: 1.8rem!important;
        left: -2.5%!important;
    }
    .be-last::before {
        height: 120px;
    }

    .bulb{
        height: 62.16px;
    }
    
    .premiun{
        top:11%;
    }

    .caro-img{
        width: 10%!important;
    }

    .review-txt {
        margin-left: 25%;
        margin-right: 25%;
    }

    .container{
        padding-left: 140px;
        padding-right: 140px;
    }

    
}

@media screen and (max-width:576px) {
    .navbar{
        position: static;
    }
}